* {
	font-size: 14px;
	font-family: "微软雅黑";
	color: slategray;
}

body {
	background:url("../img/login_bg.jpg");
	background-size: cover;
	margin: 0 auto;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

.sys-title {
	margin: 0 auto;
	margin-top: 140px;
	margin-bottom: 40px; 
	width: 380px;
	height : 68px;
	line-height: 68px;
	background: url("../img/logo.png") no-repeat bottom left;
	color: #BF9F62;
	font-size: 24px;
	font-weight: bold;
	padding-left: 30px;
}

.login-container {
	width: 400px;
	margin: 0 auto;
	padding: 0;
	background-color: azure;
}

.login-header {
	height: 50px;
	line-height: 50px;
	background-color: #9F2925;
}

.login-title {
	background: url(../img/user_login.png) no-repeat center left;
	padding-left: 30px;
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #BF9F62;
	text-align: left;
}

.login-context {
	margin: 0 auto;
}

.form-item-group {
	width: 300px;
	margin: 20px auto;
	text-align: center;
}

.form-item {
	margin: 20px auto;
	height: 28px;
	line-height: 28px;
}

.form-item label {
	color: #BF9F62;
	font-weight: bold;
}

.login-btn-group {
	width: 300px;
	margin: 0 auto;
	text-align: right;
	padding-right: 40px;
}

.login-btn {
	font-weight: bold;
	color: azure;
	width: 80px;
	height: 30px;
	border: 0px #BF9F62 solid;
	background: #9F2925;
	cursor: pointer;
}

.warring {
	background-color: #CE0000;
}

.text-input {
	border: none;
	border: #BF9F62 1px solid;
	width: 200px;
	height: 26px;
	line-height: 26px;
	padding: 2px auto;
	color: #BF9F62;
	padding-left: 5px;
}

#error_msg {
	width: 300px;
	font-size: 12px;
	font-weight: bold;
	margin: 0 auto;
	text-align: left;
	color: red;
	padding: 15px 0;
	padding-left: 40px;
}